$primaryColor: #0066cb;

$secondaryColor: (
    '1': #1976d2,
    '2': #0860b5,
    '3': #115a9e,
    '4': #195486,
);

$grey : (
    'soft': #fafafa,
    'light': #d3d3d3,
    'med': #bebebe,
    'battleship': #848482,
);
